.header {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #2b6cb0;
}

.center {
  text-align: center;
  margin-bottom: 50px;
}

.marginBottom {
  margin-bottom: 30px;
}

.footer {
  background-color: #cbd5e0;
  height: 30px !important;
  font-weight: 700;
  font-size: 20px;
  color: rgb(81, 81, 81);
  text-align: center;
  align-content: middle;
  padding-bottom: 35px;
}
